<form action="/login" method="post">
	<div>
	<label>OpenID: login index</label>
	<input type="text" name="openid_identifier"/><br/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
